<ion-header>
    <ion-toolbar>
        <ion-title>Mes alias</ion-title>

        <ion-buttons slot="end">
            <ion-button routerLink="/create-alias">
                <ion-icon slot="icon-only" ios="add-outline" md="add-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngFor="let alias of aliases.asObservable() | async">
        <ion-item-sliding>

            <ion-item>
                <ion-label>
                    <h2>{{alias.aliasEmail}}</h2>
                    <p>pour {{alias.realEmail}}</p>
                </ion-label>
            </ion-item>

            <ion-item-options side="end">
                <ion-item-option color="danger" (click)="delete(alias)">
                    <ion-icon name="trash-outline"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>
